// Font Sizes
// .fs12 {
//   font-size: rem(12px);
// }
// .fs14 {
//   font-size: rem(14px);
// }
// .fs18 {
//   font-size: rem(18px);
// }
// .fs20 {
//   font-size: rem(20px);
// }
// .fs24 {
//   font-size: rem(24px);
// }
// .fs28 {
//   font-size: rem(28px);
// }
// .fs30 {
//   font-size: rem(30px);
// }

// flex helpers

.flex {
  display: flex;

  >*.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }
}

// Media helpers

// .square-ratio {
//   @include aspect-ratio(1, 1);
// }
// .video-ratio {
//   @include aspect-ratio(16, 9);
// }
// .portrait-ratio {
//   @include aspect-ratio(9, 16);
// }

// General

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.border-bottom {
  border-block-end: 1px solid #dedede;
}

.detail-padding-bottom {
  padding-block-end: 24px;
}

.tx-cap {
  text-transform: capitalize;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.p-0 {
  padding: 0; 
}

////////// האם יש דרך יותר טובה לעשות את זה 
.left-4 {
  left: 4rem;
}

.left-8 {
  left: 8rem;
}
.right-8 {
  right: 8rem;
}
//////////


.grid {
  display: grid;
}

.none {
  display: none;
}

.link-test {
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
