* {
  box-sizing: border-box;
  margin: 0;
}

html {
  // background-color: black;
}

::selection {
  background-color: #ff3a3ae0;
}

::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  background-clip: content-box;
  border: 3px solid transparent;
}

body {
  // min-height: 100vh;
  // transition: color 0.5s, background-color 0.5s;
  // text-rendering: optimizeLegibility;

  font-family: vt323;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-in {
  0% {
      transform: translateY(-50%);
      opacity: 0;
  }

  100% {
      transform: translateY(0%);
      opacity: 1;
  }
}

@keyframes delay {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}