* {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  background-color: #ff3a3ae0;
}


html {
  background-color: black;

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    background-clip: content-box;
    border: 3px solid transparent;
  }
}

body {
  // min-height: 100vh;
  // transition: color 0.5s, background-color 0.5s;
  // text-rendering: optimizeLegibility;

  font-family: vt323;
}