@font-face {
    font-family: vt323;
    src: url('/src/assets/fonts/VT323.woff2');
  }

@font-face {
    font-family: mattone;
    src: url('/src/assets/fonts/Mattone-150.woff2');
  }

@font-face {
    font-family: space-grotesk;
    src: url('/src/assets/fonts/space-grotesk-latin-400-normal.4f228f32.woff2');
  }
